$--global-white-color: #ffffff !default;
$--global-black-color: #111111 !default;
$--global-dark-color: #252952 !default;
$--global-red-color: #F11C5B !default;
$--global-green-color: #4DC248 !default;

$--global-background: #f4f4f4 !default;

$--global-color: $--global-black-color;
$--global-main-color: $--global-red-color;
